
.generate-page {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;

  background: url("../assets/bg-image.jpg") center/cover no-repeat fixed;
  position: relative;
  overflow: hidden;
}


.generate-page::before {
  content:"";
  position:absolute;
  inset:0;
  background: linear-gradient(
    to bottom,
    rgba(2,6,23,0.55),
    rgba(2,6,23,0.85)
  );
}


.generate-page::after{
  content:"";
  position:absolute;
  inset:0;
  background:
    radial-gradient(circle at 25% 35%, rgba(59,130,246,.35), transparent 45%),
    radial-gradient(circle at 80% 70%, rgba(168,85,247,.35), transparent 50%);
}

.generate-box{
  position:relative;
  z-index:2;
  width:700px;
  padding:50px;
  border-radius:26px;

  background: linear-gradient(
    160deg,
    rgba(15,23,42,.85),
    rgba(30,41,59,.65)
  );

  border:1px solid rgba(147,197,253,.35);
  backdrop-filter: blur(18px);

  box-shadow:
    inset 0 0 35px rgba(99,102,241,.25),
    0 0 45px rgba(59,130,246,.25);
}

.generate-box h1{
  font-size:38px;
  margin-bottom:25px;
  text-align:center;
  background: linear-gradient(90deg,#93c5fd,#c4b5fd,#60a5fa);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.generate-box textarea{
   margin-left:-15px;
   margin-top:20px; 
  width:100%;
  height:160px;
  border-radius:16px;
  border:1px solid rgba(255,255,255,.18);
  background: rgba(2,6,23,.7);
  padding:18px;
  color:white;
  font-size:15px;
  resize:none;
  outline:none;
}

.generate-box textarea:focus{
  border-color:#818cf8;
  box-shadow:0 0 25px rgba(129,140,248,.5);
}

.generate-box button{
  margin-left:158px;
  margin-top:30px;
  width:50%;
  padding:16px;
  border:none;
  border-radius:16px;
  font-weight:700;
  font-size:16px;
  cursor:pointer;

  background: linear-gradient(135deg,#3b82f6,#8b5cf6);
  color:white;
  transition:.3s;
}

.generate-box button:hover{
  transform:translateY(-3px);
  box-shadow:0 15px 50px rgba(99,102,241,.6);
}
